*{
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 3px solid black;
  text-align: center;
}

.boardRow{
  color: black;
  background: white;
}

.emptySquare{
  background: white;
}
.markX{
  color: white;
  background: red;
}

.markO{
  color: lemonchiffon;
  background: blue;
}
/*#rowOneLeft {
  color: black;
}*/
