body {
  font-family: 'Didact Gothic', sans-serif;
}
h1 {
  font-style: italic;
  opacity: .2;
  cursor: pointer;
}
h1:hover {
  opacity: 1;
  transition: opacity .7s;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout:fixed;
  border-spacing: 0px;
  transform: skewx(-15deg);
  opacity: .2;
}
table:hover {
  opacity: 1;
  transition: opacity .7s;
}
.cells {
  text-align: center;
  width: 150px;
  height: 130px;
  border: 5px solid black;
  cursor: pointer;
  padding: 0;
  font-size: 3em;
}
/* right side of grid */
#cell2 {
  border-top: 0;
  border-right: 0;
}
#cell5 {
  border-right: 0;
}
#cell8 {
  border-right: 0;
  border-bottom:0;
}
/* left side of grid */
#cell0 {
  border-top: 0;
  border-left: 0;
}
#cell3 {
  border-left: 0;
}
#cell6 {
  border-left: 0;
  border-bottom:0;
}
/* middle row */
#cell1 {
  border-top: 0;
}
#cell7 {
  border-bottom: 0;
}
footer {
  margin-top: 70px;
  text-align: right;
}
h2 {
  position: relative;
  right: 240px;
  width: auto;
  display: inline;
  cursor: pointer;
  opacity: .2;
}
h2:hover {
  opacity: 1;
  transition: opacity .7s;
}
