body {
   padding: 4em 22em 4em 22em;
}

.row {
   float: left;
}

.row, .square {
   border-style: solid;
   border-width: 10px;
   padding: 6em;
   box-sizing: border-box;
   width: 10em;
   background-color: lightblue;
}
