body {
  font-family: 'Didact Gothic', sans-serif;
}
h1 {
  font-style: italic;
}
table {
  margin: 0 auto;
  height: 400px;
  width: 400px;
}
.cells {
  text-align: center;
  width: 200px;
  height: 130px;
  font-size: 5em;
  border: 1px solid black;
  margin: 0;
  cursor: pointer;
}
footer {
  margin-top: 30px;
  text-align: center;
}
h2 {
  width: auto;
  display: inline;
  cursor: pointer;
}
