h1 {
  text-align: center;
}

table, tr, td {
   border: 1px solid black;
   text-align: center;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin: auto;
}

tr {
    height: 50px;
}

td {
    padding: 15px;
}
